body {
    background: #ebebeb
}

.form-control:focus {
    box-shadow: none;
    border-color: #ec8eb5
}

.profile-button {
    background: #dcafac;
    box-shadow: none;
    border: none
}

h4.text-right {
    color: palevioletred;
}

.profile-button:hover {
    background: #dcafac
}

.profile-button:focus {
    background: #dcafac;
    box-shadow: none
}

.profile-button:active {
    background: #dcafac;
    box-shadow: none
}

.back:hover {
    color: #dcafac;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

#emailHelp a.text-dark.fw-bold{
    text-decoration: none;
}

#emailHelp a.text-dark.fw-bold:hover{
    text-decoration: underline;
}
